@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');
body{
    background-color: #9B72AA;
}
h3{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 25px;
    color: brown;
}

table,th,tr,td {
    border: 1px solid rgb(65, 63, 63);
    text-align: center;
    margin: auto;
}
td{
    padding:7px 10px;
}
th{
  color: #FFF7AE;
  font-weight: 700;
  font-size: 18px;
  padding:7px 10px;
}
table{
    margin-top: 50px;
    background-color: #3C5186;
    color: white;
}
td:nth-child(1){
    font-family: 'Rubik', sans-serif;
}
fieldset{
    border: white;
    border-style: dashed;
    padding: 10px 10px;
}
label{
    margin-left: 10px;
}
input:focus{
    background-color: rgb(126, 183, 236);
}
input[type=submit]{
  margin-left: 10px;
}